@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
    --background: 0, 0, 0;
  }
}

body {
  color: rgba(var(--foreground), 1);
  background: rgba(var(--background), 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
